@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}

.logo {
  cursor: pointer;
  color: #1a2236;
  letter-spacing: 3px;
  font-family: "Playfair Display", "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 55px;
  line-height: 50px;
  padding: 30px 84px 0 16px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #1a2236;
  margin: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  color: #1a2236;
  margin: 0;
}

.greeting {
  font-size: 16px;
  line-height: 20px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  padding: 20px 16px 40px 16px;
}

.connect {
  margin: 0 26px 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 19px;
  color: white;
  line-height: 20px;
  background-color: #1a2236;
  height: 50px;
  width: 82%;
  border: 2px solid;
}

.connect:hover {
  background-color: white;
  color: #1a2236;
}

.download {
  display: flex;
  width: 40px;
  height: 40px;
}

.see-project {
  margin: 0 20px 32px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  background-color: #1a2236;
  height: 50px;
  width: 250px;
  border: 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-color: white;
}

.see-project:hover {
  background-color: white;
  color: #1a2236;
  border-color: #1a2236;
}

.background-image {
  background-image: url("bgbg.png");
  background-repeat: repeat-x;
  padding: 19vh 30vh;
  width: 100%;
  height: auto;
}

.projects {
  display: grid;
}

.project-info {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.design-one {
  width: 100%;
}

.headingtwo {
  font-size: 50px;
  line-height: 50px;
  font-family: "Playfair Display", "Courier New", Courier, monospace;
  font-weight: 400;
  color: #1a2236;
  margin: 40px 123px 32px 16px;
}

.project-name {
  padding: 20px 55px 16px 20px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 16px;
  font-weight: 300;
  color: white;
}

.project-details {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin-left: 16px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 11px;
  color: #1a2236;
}

.lang {
  background-color: #98dede;
  padding: 4px 10px;
  margin: 0 5px 20px 5px;
}

.button {
  padding-bottom: 10px;
  display: flex;
}

.about {
  font-family: "Playfair Display", "Courier New", Courier, monospace;
  color: #1a2236;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 56px 117px 20px 16px;
}

.about-info {
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #1a2236;
  padding: 0 16px 32px;
}

.cv {
  width: 288px;
  height: 50px;
  margin: 16px;
}

h2 {
  display: none;
}

.end {
  margin: 0 16px;
}

.skill-containor {
  margin: 20px 20px 24px 15px;
  padding: 55px 60px 0 50px;
  background-color: #1c528a;
}

.skill-containortwo {
  margin: 20px 20px 24px 15px;
  padding: 55px 60px 0 50px;
  background-color: #e2505c;
}

.skill-containorthree {
  margin: 20px 20px 24px 15px;
  padding: 55px 60px 0 50px;
  background-color: #febf52;
}

.clipart {
  margin-left: 100px;
  margin-top: -19px;
  width: 72%;
}

.cliparttwo {
  margin: -19px 0 -4px 108px;
  width: 72%;
}

.tileone {
  font-size: 20px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 800;
  line-height: 30px;
  color: white;
  padding-bottom: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.thumbnails {
  width: 100%;
}

.Forms {
  background-image: url("background-last.png");
  background-repeat: no-repeat;
  padding: 106px 16px 0 16px;
  background-color: #f9f9fa;
}

label {
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #7d7c84;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
}

.footerttl {
  font-family: "Playfair Display", "Courier New", Courier, monospace;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  color: #1a2236;
  width: 89%;
}

.foot-bio {
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 20px 14px 32px 18px;
  width: 89%;
}

.Input-container {
  background-color: white;
  margin-bottom: 8px;
  display: grid;
  size: 288px;
  padding: 5px 14px 8px;
  border-radius: 4px;
  width: 89%;
  border: 1px solid #dfdfe0;
}

.input {
  border: none;
}

.message {
  padding: 10px;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: none;
}

.collab {
  margin: 20px 26px 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 19px;
  color: white;
  line-height: 20px;
  background-color: #1a2236;
  height: 50px;
  width: 89%;
  border: 2px solid;
}

.collab:hover {
  background-color: white;
  color: #1a2236;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #1a2236;
  padding-top: 32px;
}

.last {
  background-color: #1a2236;
}

.footer a {
  font-family: "Poppins", sans-serif;
  color: #92dcdc;
  font-size: 16px;
  text-decoration: none;
}

#resume {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #92dcdc;
  font-size: 16px;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 16px;
}

#resume img {
  margin-left: 10px;
}

.social {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

#bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
